[Unit]
Description=documentation-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/documentation-template
ExecStart=/opt/documentation-template/documentation-template.mjs
EnvironmentFile=/opt/documentation-template/.env

[Install]
WantedBy=multi-user.target
